<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Base64 Encoder</title>
  <link href="{{ url_for('static', filename='css/tailwind.min.css') }}" rel="stylesheet">
</head>
<body class="bg-gradient-to-br from-gray-900 to-gray-800 text-white font-sans flex items-center justify-center min-h-screen p-4">

  <div class="bg-gray-800 p-8 rounded-xl shadow-2xl w-full max-w-md transition duration-300 hover:shadow-yellow-500/30 transform hover:scale-105">
    <h1 class="text-4xl font-bold mb-6 text-center text-yellow-400">Base64 Encoder</h1>
    
   
    <form method="POST" action="/encript">
      <div class="mb-6">
        <label for="inputText" class="block text-lg font-medium text-gray-300 mb-2">Enter text to encode</label>
        <input type="text" name="inputText" id="inputText" placeholder="Type your text here..." class="w-full px-4 py-3 bg-gray-700 text-white rounded-lg shadow-inner focus:outline-none focus:ring-2 focus:ring-yellow-400 placeholder-gray-500 transition duration-200" required>
      </div>
      
      <div class="flex justify-center mb-8">
        <button type="submit" class="bg-yellow-500 hover:bg-yellow-400 text-gray-900 font-semibold px-6 py-3 rounded-full shadow-lg transition duration-300 transform hover:scale-110 focus:outline-none focus:ring-4 focus:ring-yellow-400 focus:ring-offset-2">Generate Base64</button>
      </div>
    </form>
    
    <div class="mb-6">
      <h2 class="text-xl font-semibold mb-4 text-yellow-400">Result</h2>
      <div class="w-full px-4 py-3 mb-4 bg-gray-700 text-white rounded-lg shadow-inner text-sm border border-gray-600 text-justify transition duration-300 hover:bg-gray-600 cursor-pointer overflow-hidden whitespace-nowrap text-ellipsis" onclick="copyToClipboard('resultBase64')">
      
        <span id="resultBase64">{{ result_base64 if result_base64 else 'Base64 encoded result will appear here' }}</span>
      </div>
      <div class="w-full px-4 py-3 bg-gray-700 text-white rounded-lg shadow-inner text-sm border border-gray-600 text-justify transition duration-300 hover:bg-gray-600 cursor-pointer overflow-hidden whitespace-nowrap text-ellipsis" onclick="copyToClipboard('resultHTTPS')">
        <!-- Mostrar el resultado HTTPS con recorte si es muy largo -->
        <span id="resultHTTPS">{{ result_https if result_https else 'HTTPS encoded result will appear here' }}</span>
      </div>
    </div>

    <p class="text-center text-sm text-gray-400 mt-4">Click on a result to copy to clipboard</p>
  </div>

  <script>
    // Función para copiar el texto al portapapeles
    function copyToClipboard(elementId) {
      const text = document.getElementById(elementId).innerText;
      navigator.clipboard.writeText(text).then(() => {
        alert("Copied to clipboard!");
      }).catch(err => {
        console.error('Could not copy text: ', err);
      });
    }
  </script>
</body>
</html>
